.u-section-1 {
  min-height: 733px;
}

.u-section-1 .u-group-1 {
  left: 0;
  right: auto;
  min-height: 733px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 95px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 469px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 59px auto 0;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 23px 0 0;
}

.u-section-1 .u-btn-2 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 229px;
  height: 41px;
  animation-duration: 1000ms;
  margin: 56px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 469px;
  animation-duration: 1000ms;
}

.u-section-1 .u-image-2 {
  background-image: url("images/Ghostme.png");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 31px 15px 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 469px;
}

.u-section-1 .u-container-layout-4 {
  padding: 23px 30px 0;
}

.u-section-1 .u-video-1 {
  height: 216px;
  animation-duration: 1000ms;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 82px;
  min-height: 16px;
  width: 174px;
  min-width: 42px;
  animation-duration: 1000ms;
  margin: 56px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 81px;
}

.u-section-1 .u-icon-2 {
  height: 81px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 651px;
  }

  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 109px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 387px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 489px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 154px;
    margin-bottom: -68px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1253px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 889px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 889px;
  }

  .u-section-1 .u-video-1 {
    height: 365px;
    width: 660px;
    margin-top: 79px;
    margin-right: -15px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 172px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 667px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    width: 520px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 420px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 12px;
    width: 320px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 51px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1484px;
}

.u-section-2 .u-btn-1 {
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  animation-duration: 1000ms;
  font-weight: 400;
  font-size: 1rem;
  margin: 7px auto 0 52px;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 20px 29px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1509px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1584px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1859px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2659px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 7px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 360px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/AvatarCircle3.gif");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 93px 0 0;
}

.u-section-3 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 297px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 587px;
}

.u-section-4 .u-video-1 {
  height: 572px;
  animation-duration: 1000ms;
  width: 1012px;
  margin: 0 auto 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 119px;
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 249px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 100px;
  min-height: 16px;
  width: 210px;
  min-width: 42px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-btn-1 {
  animation-duration: 1000ms;
  margin: 22px auto -25px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 280px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
    margin-right: 34px;
    margin-bottom: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 264px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}