.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 28px auto 0;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 52px;
  height: 52px;
  animation-duration: 1000ms;
  margin: -42px auto 0 356px;
}

.u-section-1 .u-video-1 {
  height: 416px;
  width: 740px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 253px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 143px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    margin-top: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 59px;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-1 .u-image-1 {
    width: 49px;
    height: 49px;
    margin-top: -37px;
    margin-left: 24px;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    margin-top: 62px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 788px;
}

.u-section-2 .u-video-1 {
  height: 610px;
  width: 956px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-2 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-video-1 {
    height: 190px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 788px;
}

.u-section-3 .u-video-1 {
  height: 610px;
  width: 956px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 788px;
}

.u-section-4 .u-video-1 {
  height: 610px;
  width: 956px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 788px;
}

.u-section-5 .u-video-1 {
  height: 610px;
  width: 956px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-video-1 {
    height: 190px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 788px;
}

.u-section-6 .u-video-1 {
  height: 610px;
  width: 956px;
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-video-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-6 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-6 .u-video-1 {
    height: 190px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 349px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/ProfilePicTransperant.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  animation-duration: 1000ms;
  margin: 93px 0 0;
}

.u-section-7 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-7 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 326px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 369px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-8 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-8 .u-social-icons-1 {
  height: 100px;
  min-height: 16px;
  width: 210px;
  min-width: 42px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 27px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-2 {
    min-height: 156px;
  }
}